.footer {
    background-color: black;
    color: white;
}
.item.room {
    float: left;
    width: 304px;
    padding: 20px;
}
.item.room img{
    width: 200px;
    height: 100px;
}
#comments {
    clear: both;
}