<layout-use template="./default-layout.marko" show-header="$true">
    <layout-put into="title">My Home Page</layout-put>
    <layout-put into="body">
        Hello world!
    </layout-put>
    <layout-put into="script">
        <script src="js/main.js"></script>
    </layout-put>
</layout-use>