<layout-use template="./default-layout.marko" show-header="$true">
    <layout-put into="title">My Profile</layout-put>
    <layout-put into="body">
        username: ${data.username}
        ${data.user}
    </layout-put>
</layout-use>